# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [21]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [22]:
# from pandas import DataFrame

df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
df2 = pd.read_csv("TechCrunchcontinentalUSA.csv")

In [6]:
df2

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a
5,infusionsoft,Infusionsoft,105.0,software,Gilbert,AZ,1-Oct-07,9000000,USD,a
6,gauto,gAuto,4.0,web,Scottsdale,AZ,1-Jan-08,250000,USD,seed
7,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,1-Oct-06,140000,USD,seed
8,chosenlist-com,ChosenList.com,5.0,web,Scottsdale,AZ,25-Jan-08,233750,USD,angel
9,digg,Digg,60.0,web,San Francisco,CA,1-Dec-06,8500000,USD,b
10,digg,Digg,60.0,web,San Francisco,CA,1-Oct-05,2800000,USD,a
11,facebook,Facebook,450.0,web,Palo Alto,CA,1-Sep-04,500000,USD,angel
12,facebook,Facebook,450.0,web,Palo Alto,CA,1-May-05,12700000,USD,a
13,facebook,Facebook,450.0,web,Palo Alto,CA,1-Apr-06,27500000,USD,b
14,facebook,Facebook,450.0,web,Palo Alto,CA,1-Oct-07,300000000,USD,c
15,facebook,Facebook,450.0,web,Palo Alto,CA,1-Mar-08,40000000,USD,c
16,facebook,Facebook,450.0,web,Palo Alto,CA,15-Jan-08,15000000,USD,c
17,facebook,Facebook,450.0,web,Palo Alto,CA,1-May-08,100000000,USD,debt_round
18,photobucket,Photobucket,60.0,web,Palo Alto,CA,1-May-06,10500000,USD,b
19,photobucket,Photobucket,60.0,web,Palo Alto,CA,1-Mar-05,3000000,USD,a
20,omnidrive,Omnidrive,NaN,web,Palo Alto,CA,1-Dec-06,800000,USD,angel
21,geni,Geni,18.0,web,West Hollywood,CA,1-Jan-07,1500000,USD,a
22,geni,Geni,18.0,web,West Hollywood,CA,1-Mar-07,10000000,USD,b
23,twitter,Twitter,17.0,web,San Francisco,CA,1-Jul-07,5400000,USD,b
24,twitter,Twitter,17.0,web,San Francisco,CA,1-May-08,15000000,USD,c
25,stumbleupon,StumbleUpon,NaN,web,San Francisco,CA,1-Dec-05,1500000,USD,seed
26,gizmoz,Gizmoz,NaN,web,Menlo Park,CA,1-May-07,6300000,USD,a
27,gizmoz,Gizmoz,NaN,web,Menlo Park,CA,16-Mar-08,6500000,USD,b
28,scribd,Scribd,14.0,web,San Francisco,CA,1-Jun-06,12000,USD,seed
29,scribd,Scribd,14.0,web,San Francisco,CA,1-Jan-07,40000,USD,angel
...,...,...,...,...,...,...,...,...,...,...
1430,fyreball,Fyreball,NaN,web,Bellevue,WA,1-Dec-07,1000000,USD,angel
1431,delve-networks,Delve Networks,NaN,web,Seattle,WA,1-Dec-06,1650000,USD,seed
1432,delve-networks,Delve Networks,NaN,web,Seattle,WA,1-Aug-07,8000000,USD,a
1433,livemocha,LiveMocha,NaN,web,Bellevue,WA,1-Jan-08,6000000,USD,a
1434,mercentcorporation,Mercent Corporation,50.0,web,Seattle,WA,1-Jan-08,6500000,USD,b
1435,cleverset,CleverSet,NaN,web,Seattle,WA,1-Aug-06,1400000,USD,angel
1436,cleverset,CleverSet,NaN,web,Seattle,WA,1-Sep-05,1200000,USD,a
1437,cleverset,CleverSet,NaN,web,Seattle,WA,1-Dec-07,500000,USD,angel
1438,liquidplanner,LiquidPlanner,11.0,web,Bellevue,WA,1-Jan-08,1200000,USD,angel
1439,limeade,Limeade,10.0,web,Bellevue,WA,1-Jan-07,1000000,USD,angel
1440,yodio,Yodio,4.0,web,Bellevue,WA,1-Feb-08,850000,USD,a
1441,tastemakers,Tastemakers,11.0,web,Seattle,WA,1-Feb-07,1000000,USD,a
1442,whitepages-com,WhitePages.com,125.0,web,Seattle,WA,1-Aug-05,45000000,USD,a
1443,revenuescience,RevenueScience,NaN,web,Seattle,WA,19-Dec-05,24000000,USD,e
1444,gotvoice,GotVoice,15.0,mobile,Kirkland,WA,25-Oct-06,3000000,USD,a
1445,cardomain-network,CarDomain Network,50.0,web,Seattle,WA,29-Jun-07,3000000,USD,a
1446,mpire,mpire,NaN,web,Seattle,WA,1-Feb-07,9800000,USD,a
1447,mpire,mpire,NaN,web,Seattle,WA,11-Jun-08,10000000,USD,b
1448,teachstreet,TeachStreet,8.0,web,Seattle,WA,1-Mar-08,2250000,USD,a
1449,estately,Estately,NaN,web,NaN,WA,24-Apr-08,450000,USD,angel
1450,infinia,Infinia,NaN,cleantech,Kennewick,WA,22-Apr-08,57000000,USD,b
1451,infinia,Infinia,NaN,cleantech,Kennewick,WA,1-Jun-07,9500000,USD,a
1452,m-metrics,M:Metrics,NaN,web,Seattle,WA,16-Oct-05,7000000,USD,b
1453,cozi,Cozi,26.0,software,Seattle,WA,11-Jul-07,3000000,USD,a
1454,cozi,Cozi,26.0,software,Seattle,WA,1-Jun-08,8000000,USD,c
1455,trusera,Trusera,15.0,web,Seattle,WA,1-Jun-07,2000000,USD,angel
1456,alerts-com,Alerts.com,NaN,web,Bellevue,WA,8-Jul-08,1200000,USD,a
1457,myrio,Myrio,75.0,software,Bothell,WA,1-Jan-01,20500000,USD,unattributed
1458,grid-networks,Grid Networks,NaN,web,Seattle,WA,30-Oct-07,9500000,USD,a
1459,grid-networks,Grid Networks,NaN,web,Seattle,WA,20-May-08,10500000,USD,b

In [7]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = df

### Step 4. See the first 10 entries

In [9]:
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [13]:
# Solution 1

print(chipo.shape)

chipo.shape[0]
# .shape: Return a tuple representing the dimensionality of the DataFrame.

(4622, 5)

4622

In [16]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [17]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [18]:
list(df)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [24]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [38]:
a = chipo.sort_values("item_name")

a.sum()
c = a.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?