# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [70]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. How many products cost more than $10.00?

In [72]:
items_over_10 = chipo.loc[chipo['item_price'] >= 10]

uniques = items_over_10.loc[items_over_10['quantity'] == 1]

final = uniques.drop_duplicates(['item_name'])

print(final)
print(len(final)) # wrong! still working on understanding why exactly...

      order_id  quantity              item_name  \
5            3         1           Chicken Bowl
7            4         1          Steak Burrito
23          12         1        Chicken Burrito
39          19         1          Barbacoa Bowl
57          26         1         Veggie Burrito
62          28         1            Veggie Bowl
79          35         1     Chicken Soft Tacos
90          40         1             Steak Bowl
93          41         1       Carnitas Burrito
97          43         1          Carnitas Bowl
130         57         1       Barbacoa Burrito
168         75         1  Barbacoa Crispy Tacos
186         83         1      Veggie Salad Bowl
250        109         1          Chicken Salad
365        158         1   Chicken Crispy Tacos
606        250         1       Steak Salad Bowl
738        304         1      Veggie Soft Tacos
988        406         1    Barbacoa Soft Tacos
1008       413         1  Carnitas Crispy Tacos
1132       468         1    Carnitas Salad Bowl
1189       488         1     Chicken Salad Bowl
1229       501         1    Barbacoa Salad Bowl
1353       552         1       Steak Soft Tacos
1963       793         1    Carnitas Soft Tacos
2231       899         1     Steak Crispy Tacos

                                     choice_description  item_price
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
57    [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
62    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
79    [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...       11.25
90    [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.75
93    [Roasted Chili Corn Salsa, [Sour Cream, Guacam...       11.75
97    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.75
130   [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...       11.75
168   [Tomatillo Red Chili Salsa, [Rice, Black Beans...       11.75
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
250   [Roasted Chili Corn Salsa (Medium), [Black Bea...       10.98
365   [Tomatillo Green Chili Salsa, [Black Beans, Ch...       11.25
606   [Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...       11.89
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
988   [Tomatillo Red Chili Salsa, [Black Beans, Chee...       11.75
1008  [Tomatillo Green Chili Salsa, [Rice, Black Bea...       11.75
1132  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.89
1189  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1229  [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...       11.89
1353  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...       11.75
1963      [Fresh Tomato Salsa, [Sour Cream, Guacamole]]       11.75
2231                    [Fresh Tomato Salsa, Guacamole]       11.75
25

In [71]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price] # comment: no. it's already a float

# reassign the column with the cleaned prices
chipo.item_price = prices # can also be omitted

a = chipo.drop_duplicates(['item_name'])

chipo_one_prod = a[a.quantity == 1]

b = chipo_one_prod[chipo_one_prod['item_price']>10.0].item_name.nunique()
print(b)

10

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [80]:
chipo_new = chipo[['item_name', 'quantity', 'item_price']].copy()
print(chipo_new)

                                  item_name  quantity  item_price
0              Chips and Fresh Tomato Salsa         1        2.39
1                                      Izze         1        3.39
2                          Nantucket Nectar         1        3.39
3     Chips and Tomatillo-Green Chili Salsa         1        2.39
4                              Chicken Bowl         2       16.98
5                              Chicken Bowl         1       10.98
6                             Side of Chips         1        1.69
7                             Steak Burrito         1       11.75
8                          Steak Soft Tacos         1        9.25
9                             Steak Burrito         1        9.25
10                      Chips and Guacamole         1        4.45
11                     Chicken Crispy Tacos         1        8.75
12                       Chicken Soft Tacos         1        8.75
13                             Chicken Bowl         1       11.25
14                      Chips and Guacamole         1        4.45
15    Chips and Tomatillo-Green Chili Salsa         1        2.39
16                          Chicken Burrito         1        8.49
17                          Chicken Burrito         1        8.49
18                              Canned Soda         2        2.18
19                             Chicken Bowl         1        8.75
20                      Chips and Guacamole         1        4.45
21                         Barbacoa Burrito         1        8.99
22                         Nantucket Nectar         1        3.39
23                          Chicken Burrito         1       10.98
24                                     Izze         1        3.39
25             Chips and Fresh Tomato Salsa         1        2.39
26                             Chicken Bowl         1        8.49
27                         Carnitas Burrito         1        8.99
28                              Canned Soda         1        1.09
29                          Chicken Burrito         1        8.49
...                                     ...       ...         ...
4592                       Barbacoa Burrito         1       11.75
4593                          Carnitas Bowl         1       11.75
4594                          Barbacoa Bowl         1       11.75
4595                           Chicken Bowl         1        8.75
4596                    Chips and Guacamole         1        4.45
4597                      Canned Soft Drink         1        1.25
4598                          Bottled Water         1        1.50
4599                           Chicken Bowl         1        8.75
4600                    Chips and Guacamole         1        4.45
4601                      Canned Soft Drink         1        1.25
4602                       Barbacoa Burrito         1        9.25
4603                       Barbacoa Burrito         1        9.25
4604                           Chicken Bowl         1        8.75
4605                    Chips and Guacamole         1        4.45
4606                      Canned Soft Drink         1        1.25
4607                          Steak Burrito         1       11.75
4608                         Veggie Burrito         1       11.25
4609                      Canned Soft Drink         1        1.25
4610                          Steak Burrito         1       11.75
4611                         Veggie Burrito         1       11.25
4612                          Carnitas Bowl         1        9.25
4613                                  Chips         1        2.15
4614                          Bottled Water         1        1.50
4615                     Chicken Soft Tacos         1        8.75
4616                    Chips and Guacamole         1        4.45
4617                          Steak Burrito         1       11.75
4618                          Steak Burrito         1       11.75
4619                     Chicken Salad Bowl         1       11.25
4620                     Chicken Salad Bowl         1        8.75
4621                     Chicken Salad Bowl         1        8.75

[4622 rows x 3 columns]

### Step 6. Sort by the name of the item

In [81]:
c = chipo_new.sort_values(['item_name'], ascending=False)
print(c)

              item_name  quantity  item_price
3889  Veggie Soft Tacos         2       16.98
2851  Veggie Soft Tacos         1        8.49
738   Veggie Soft Tacos         1       11.25
1395  Veggie Soft Tacos         1        8.49
2384  Veggie Soft Tacos         1        8.75
1699  Veggie Soft Tacos         1       11.25
781   Veggie Soft Tacos         1        8.75
4573  Veggie Salad Bowl         1        8.75
455   Veggie Salad Bowl         1       11.25
496   Veggie Salad Bowl         1       11.25
2156  Veggie Salad Bowl         1       11.25
2683  Veggie Salad Bowl         1        8.75
3293  Veggie Salad Bowl         1        8.75
295   Veggie Salad Bowl         1       11.25
4109  Veggie Salad Bowl         1       11.25
2269  Veggie Salad Bowl         1        8.75
1316  Veggie Salad Bowl         1        8.75
2223  Veggie Salad Bowl         1        8.75
4541  Veggie Salad Bowl         1        8.75
3223  Veggie Salad Bowl         1       11.25
4261  Veggie Salad Bowl         1       11.25
960   Veggie Salad Bowl         1        8.75
1884  Veggie Salad Bowl         1       11.25
4201  Veggie Salad Bowl         1       11.25
186   Veggie Salad Bowl         1       11.25
2756       Veggie Salad         1        8.49
1694       Veggie Salad         1        8.49
3471       Veggie Salad         1        8.49
3163       Veggie Salad         1        8.49
2996       Veggie Salad         1        8.49
...                 ...       ...         ...
1976  6 Pack Soft Drink         1        6.49
4522  6 Pack Soft Drink         1        6.49
3010  6 Pack Soft Drink         1        6.49
4535  6 Pack Soft Drink         1        6.49
2713  6 Pack Soft Drink         1        6.49
2374  6 Pack Soft Drink         1        6.49
298   6 Pack Soft Drink         1        6.49
3600  6 Pack Soft Drink         1        6.49
1026  6 Pack Soft Drink         1        6.49
2108  6 Pack Soft Drink         1        6.49
1279  6 Pack Soft Drink         1        6.49
2793  6 Pack Soft Drink         1        6.49
1051  6 Pack Soft Drink         1        6.49
3633  6 Pack Soft Drink         1        6.49
553   6 Pack Soft Drink         1        6.49
3422  6 Pack Soft Drink         1        6.49
879   6 Pack Soft Drink         1        6.49
1937  6 Pack Soft Drink         1        6.49
3693  6 Pack Soft Drink         1        6.49
2389  6 Pack Soft Drink         1        6.49
4169  6 Pack Soft Drink         1        6.49
4174  6 Pack Soft Drink         1        6.49
3766  6 Pack Soft Drink         1        6.49
1260  6 Pack Soft Drink         1        6.49
341   6 Pack Soft Drink         1        6.49
1916  6 Pack Soft Drink         1        6.49
1124  6 Pack Soft Drink         1        6.49
3789  6 Pack Soft Drink         1        6.49
1392  6 Pack Soft Drink         1        6.49
3614  6 Pack Soft Drink         1        6.49

[4622 rows x 3 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [93]:
most_expensive_item = chipo_new.loc[chipo_new['item_price'].idxmax()]
print(most_expensive_item[1])

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [119]:
c = chipo_new.groupby('item_name').sum()

c.loc['Veggie Salad Bowl', 'quantity']

18

In [120]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [133]:
canned_sodas = chipo[chipo.item_name == "Canned Soda"]
multiple_canned_sodas = canned_sodas[canned_sodas['quantity']>1]
                        
print(len(multiple_canned_sodas))

20